<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BalkanID | Login</title>
    <link rel="stylesheet" href="static/FEstyle/mlpstyle.css">
</head>
<body style="background-image: url(static/images/bookstorebg.jpg);">
    <div class="content" >
        <div class="head">
            <h1>Login</h1>
            <p style="font-weight: bolder; margin-left: -15%;">BalkanID Online Book Store</p> 
        </div> <br>
        <form action="/login" method="post" >
            <label for="name">
                <p>User Name</p>
                <input type="text" id="name" name="name" required>
            </label>
            
            <label for="name">
                <p>Password</p> 
                <input type="password" id="password" name="password" required>
            </label>
            
            <br>
            <p>Don't have an account? <a href="register.html" style="text-decoration: none;">Sign Up</a></p>
            <input type="submit" value="Login" style="width: 30%; padding: 2%;background-color: burlywood; border: 0cap; cursor: pointer; margin-left: 25%;">
        </form>
         <!-- Display the error message. -->
    <div class="error-section" style="color: red; font-weight: bolder;">
        {{if .Errors}}
        <div class="error">
            {{range .Errors}}
            {{.}}
            {{end}}
        </div>
        {{end}}
    </div>
    <!-- End of the error display -->
    </div>
   
</body>
</html>
